div{
    border-width: 5px;
    border-style: solid;
    border-color:  purple;

    /* border shorthand = width|style|color */

    border: 2px dashed green;

    /* border sides */

    border-left-color: blue;
    border-left-style: solid;

    /* Border Radius */

    border-radius: 3%;


}

h1{
    border : 2px dashed darkgreen
}

