#container{
    height: 400px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}

#org{
    align-self: flex-start;
    flex-basis: 50px;
}

#blu{
    /* flex-basis: 400px; */

    
    /* flex-grow: 3; */
    /* min-width: 400px; */

    flex-shrink: 3;

    
}

h1{
    text-align: center;
}

#container div{
    height: 50px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}