#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
    /* try baseline with or without */
    align-items: baseline;
}

h1{
    text-align: center;
}

#container div{
    height: 50px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}