#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-end;

    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-end; */
    
    /* flex-direction: row-reverse;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: center; */

/* space-between, space-around,space-evenly */

    /* flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */

    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;


}
h1{
    text-align: center;
}

#container div{
    height: 20px;
    width: 60px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}