section{
    margin-top:100px;
}
div{
    width: 200px;
    height: 50px;
    background-color: #7aa874;
    border:2px solid black;
    margin:10px;
    margin-left: 100px;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebbaeb2d;
}

/* Transform */

#one{
    transform: rotate(45deg);
}

/* Scale */

#two{
    transform: scale(1.5);
}

/* Translate */

#three{
    transform: translate(100px,100px);
}

/* Skew */

#four{
    transform: skew(30deg);
}

/* rotate+translate */

#five{
    transform: rotate(315deg) translate(150px) scale(1.5);
}