h1{
    border:2px solid black;
    width:50%;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
   
}
#inner{
    height: 50%;
    width: 50%;
    background-color: cornflowerblue;
    margin:50%;
    padding: 50%;

    /* we can not use percentage for border */
    border: 2px solid black;
}