span{
    display: block;
    background-color: lime;
    border: 2px solid black;
    height: 100px;
    width:2oopx;
    padding: 50px;
    margin: 20px;
} 

div{
    border: 2px solid black;
    height: 100px;
    width: 600px;
    padding: 50px;
    margin: 20px;
}