div{
    width:1000px;
    height: 1000px;
    background-color: #7aa874;
    margin:10px auto;
    background-image: url("R.jpeg");
    background-size: contain;
    /* background-size: cover; */
     /* background-size: auto; */
}