#face{
    height: 400px;
    width: 400px;
    border: 3px solid black;
    background-color:#ffa511;
    border-radius: 50%;
}

#left{
    position: absolute;
    top:100px;
    left:100px;
}
#right{
    position: absolute;
    top:100px;
    left:250px;   
}

.eye{
    height: 50px;
    width:50px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    /* position: absolute;
    top: 100px;
    left:100px; */
}

#smile{
    height:75px;
    width:200px;
    background-color: brown;
    border:2px solid black;
    position:absolute;
    top: 250px;
    left: 100px;
    border-radius: 0px 0px 50% 50%;
}
